#sep {
    display: flex;
  }
  
  #orden {
    position: relative;
  }
  
  #orden .img-fluid {
    width: 100%;
    height: auto;
  }
  
  #orden .text-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }
  
  #orden h2, #orden h3, #orden p {
    color: #000;
  }
  .pe{
    margin-left: 50px;
    font-size:medium;
  }

  @media screen and (max-width: 590px) {
    h2{
        font-size:20px;
    };
  }