#sep {
    display: flex;
  }
  
  #orden {
    position: relative;
  }
  
  #orden .img-fluid {
    width: 100%;
    height: auto;
  }
  
  #orden .text-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }
  
  #orden, #orden3 h2, #orden h3, #orden p {
    color: #000;
  }
  .pe{
    margin-left: 50px;
    font-size:medium;
  }
  @media screen and (max-width: 413px){
    h1{
      font-size: large;
    }
   
    #hache-doss{
      /* margin: -20px 15px 15px 15px;  */
      font-size: 20px;
  }

  }
  @media screen and (max-width: 590px) {
   
    #hache-doss{
      /* margin: -20px 15px 15px 15px;  */
      font-size: 25px;
  }
  #tituli{
    font-size: 20px;
    font-weight: bold;
  }
  #sep{
    display: block;
  }
  #orden{
    width: 100%;
  }
  #barco{
    filter:grayscale(0.5);
    margin-right:65px;
    margin-top: 50px;
    z-index: 2;
    flex-wrap: nowrap;
    
}}
  @media screen and (max-width: 730px){
    #sep3
    #sep1{
      max-width: 100%;
    }
    #orden1, #orden, #arti, #orden2{
      max-width: 50%;
    }
    #bar, #barc{
      width: 85%;
    }
    #barc{
      margin-top: 50px;
    }
  }